#default config
# model_name: meta-llama/Meta-Llama-3.2-3B
# layer: 20
# batch_size: 32
# max_length: 256
# torch_dtype: float16
# prompts: data/prompts/prompts_10k.json

# Test config for activation collection with fine-tuned TinyLlama
model_name: meta-llama/Meta-Llama-3-8B-Instruct
layer: 10
batch_size: 1
max_length: 256
torch_dtype: float32
prompts: src/data/prompts/prompts_10k.jsonl
save_path: src/activations/saved_activations/tinyllama_test_activations.pkl